# SFTP Configuration
SFTP_HOST=10.1.3.123
SFTP_PORT=22
SFTP_USERNAME=sftpuser1
SFTP_PASSWORD=TheNextB1gSFTP##
# SFTP_KEY_PATH=/path/to/your/private/key

# Application Configuration
APP_DEBUG=false
APP_LOG_LEVEL=INFO
