# SFTP Configuration
# Previous SFTP Configuration (commented out)
# SFTP_HOST=10.1.3.123
# SFTP_PORT=22
# SFTP_USERNAME=sftpuser1
# SFTP_PASSWORD=TheNextB1gSFTP##

# Current SFTP Configuration
SFTP_HOST=10.1.3.123
SFTP_PORT=2022
SFTP_USERNAME=6001_obstest
SFTP_PASSWORD=OEL%7@71ov6I0@=V"`Tn
# SFTP_KEY_PATH=/path/to/your/private/key

# Application Configuration
APP_DEBUG=false
APP_LOG_LEVEL=INFO
